drgat/dataset/ogbn-arxiv-pretrain/X.all.xrt-emb.npy filter=lfs diff=lfs merge=lfs -text
drgat/dataset/ogbn_arxiv/processed/dgl_data_processed filter=lfs diff=lfs merge=lfs -text
drgat/dataset/ogbn_arxiv/processed/geometric_data_processed.pt filter=lfs diff=lfs merge=lfs -text
